<h1>Business Environment test APP</h1>
<p>Приложение для учета доходов и расходов.</p>


<%= link_to "Список пользователей", users_path %><br>
<%= link_to "Список операций", operations_path %><br>
<%= link_to "Список балансов", balances_path %><br>
